<style>
  a {
    text-decoration: none; /* Remove underline */
  }
  div {
    margin-right: 10px;
}
</style>
<h1>Updated!!</h1>

<p style="color: green"><%= notice %></p>

<%= render @student %>

<div class="card-footer d-flex">
  <div>
    <%= link_to "Edit", edit_student_path(@student), class: "btn btn-primary mr-2" %>
  </div>
  <div>  
    <%= button_to "Delete", @student, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %></div>
  </div>
</div>
<br>
<%= link_to "<< Back to students", students_path %>
